.item-product{
    margin: 0 -15px;
    .item-product-inner{
        width: 334px;
        height: 369px;
        background-color: $bg-item-product;
        position: relative;
        overflow: hidden;
        margin: 0 15px 49px 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .product-img{
            margin: 0 57px;
            padding: 40px 0 30px 0;
            overflow: hidden;
            img{
                width: 220px;
                height: 156px;
            }
        }
        .product-name{
            padding-left: 23px;
            
            .name{
                @include text();
                background-color: $bg-item-product;
                margin-bottom: 0;
                padding-bottom: 10px;
            }
        }
        .product-description{
            padding-left: 23px;

            .description{
                @include text();
                background-color: $bg-item-product;
                margin-bottom: 0;
                padding-bottom: 10px;
            }
        }
        .icon-heart{
            position: absolute;
            top: 30px;
            right: 26px;
            cursor: pointer;
            img{
                width: 41px;
            }
        }
        .buton-buynow-price{
            width: 334px;
            height: 64px;
            display: flex;
            .button-buynow{
            
                button{
                    @include button-1();
                    width: 175px;
                    height: 64px;
                    font-size: 24px;
                    line-height: 29px;
                }
            }
            .button-price{
                button{
                    @include button-1();
                    width: 160px;
                    height: 64px;
                    background-color: $bg-button-buynow-price;
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }
    }
}