// themes
@import "./themes/variable";
// base
@import "./base/base";
// component
@import "./components/headerHome";
@import "./components/footerHome";
// util
@import "./util/itemProduct";
@import "./util/carousel";
// pages
@import "./pages/carts";
@import "./pages/detail";
@import "./pages/index";
@import "./pages/login";
@import "./pages/profile";
@import "./pages/register";
@import "./pages/search";




