.index-carousel{
    .index-carousel-inner{
        height: 530px;
        width: 100%;
        .container{
            height: 530px;
            width: 100%;
            margin: 0 auto;
            
            .carousel-img{
                .carousel-img-iner{
                    width: 689px;
                    height: 383px;
                    overflow: hidden;
                    img{
                       width: 100%;
                       height: 100%;
                    }
                }
            }
            .carousel-info{
                display: flex;
                flex-wrap: wrap;
                text-align: start;
                padding-left: 139px;
                .product-name{
                    margin-bottom: 10px;
                    .product-name-text{
                        @include text(
                            $f-fam:$f-family-primary,
                            $f-styt:normal,
                            $f-wei:$f-weight-m,
                            $f-size:$f-size-sssb,
                            $line-heig:48px,
                         
                            $color:$C-text-primary,
                            $backgr-color:$bg-white,
                            
                        );
                        margin-bottom: 0;
                        
                    }
                }
                .product-description{
                    margin-bottom: 40px;
                    .product-description-text{
                        @extend .product-name-text;
                        font-weight: 300;
                        font-size: 20px;
                        line-height: 24px; 
                    }
                }
                .button-carousel{
                   @include button-1();
                   font-weight: 300;
                };
            }
        }
    }
}

.index-product-feature{
    .product-feature-img{
        width: 698px;
        height: 74px;
        position: relative;
        
        .product-feature-img-out{
            width: 698px;
            height: 74px;
            // img{

            // }
        }
        .product-feature-text{
            position:absolute;
            top:12px;
            left:29px;
            @include text();
            font-size: 40px;
            line-height: 48px;
            background-color: transparent;
            color: $bg-white ;
        }
    }
    .render-product-index{
        .container{
            display: flex;
            flex-wrap: wrap;
            margin: 49px auto;
            padding: 0 -15px;
            justify-content: space-between;
            align-items: center;
            // .item-product{
                
            // }
        }
    }
}