.register{
    background-color: $bg-body;
    .container{
        margin: 0 auto;
        .register-title{
            padding-top: 60px;
            margin-bottom: 60px;
            text-align: center;
            
            .register-title-text{
                @include text($f-size:$f-size-sssb,$line-heig:48px,$backgr-color:$bg-body);
                margin-bottom: 0;
            }
        }
        .horizontal-line{
            height: 1px;
            background-color: $bg-button-buynow-price;
            margin-bottom: 27px;
        }
        .register-container{
            margin: 0 auto;
            padding: 0;
            .form-default{
                margin: 0 auto;
                .form-item-input{
                    .form-item{
                        max-width: 443px;
                        height: 100px;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        .form-item-title{
                            margin-bottom: 5px;
                        }

                        .span-danger{
                            .text-err{
                                font-size: 16px;
                                line-height: 16px;
                                color: #F50E0E;
                            }
                        }
                        .option-gender{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            .option{
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                input{
                                    width: 40px;
                                    height: 40px;
                                }
                                label{
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                    .submit-button{
                        width: 100%;
                        height: 100px;
                        margin: 0 auto;
                        text-align: center;
                        line-height: 100px;
                        border-top: 1px solid #cccccc;
                        .button-submit{
                            @include button-2();
                        }
                    }
                }
            }
        }
    }
}