.container-search{
    .search-SearchArea{
        .container-search-area{
            margin: 44px auto;
            padding: 0 58px;
            .search-text{ 
                @include text($f-fam:$f-family-Second);
                padding-top: 24px;
                padding-left: 5px;
                margin-bottom: 10px;
            }
            .search-menu{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                // .input-default{
                // }
                .search-button{
                    width: 121px;
                    height: 48px;
                    button{
                        @include button-2();
                    }
                }
            }
        }
    }
    .container-search-result{
        .search-result-table{
            .search-title{
                position: relative;
                img{
                    width: 100%;
                    height: 74px;
                }
                .search-title-text{
                    position: absolute;
                    top: 12px;
                    left: 29px;
                    @include text($f-wei:$f-weight-sm,$f-size:$f-size-sssb,
                    $line-heig:48px,$backgr-color:none,$color:$C-text-white);
                }
            }
            .container{
                margin: 56px auto;
                width: 1084px;
                padding: 0;
                .search-price{
                    .search-price-title{
                        @include text($f-fam:$f-family-Second,$f-styt:normal,$f-wei:$f-weight-ssm,
                        $f-size:$f-size-sssm,$line-heig:24px,);
                    }
                    // .input-default{ 
                    // }
                    .search-input-ascending{
                        margin-top: 5px;
                        .icon-ascending{
                            position: absolute;
                            top:0;
                            right:5px;
                            height: 54px;
                            i{
                                font-size: 45px;
                                line-height: 54px;
                            }
                        }
                    }
                }
                .render-product-search{
                    .container{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 49px auto;
                        padding: 0 -15px;
                        justify-content: space-between;
                        align-items: center;
                        // .item-product{
                        
                        // }
                    }
                }
            }
        }
    }
    
}